.faq{
  margin: 2rem 0;
  h2{
    font-size: 2rem;
  }
  ul{
    font-size: 1.5rem;
    li{
      margin: 0.5rem 0;
      div{
        position: relative;
        z-index: 10;
        background-color: #444;
        padding: 1rem;
        margin-bottom: 0.3rem;
        cursor: pointer;
        transition: 0.5s;
        &:hover{
          background-color: #555;
        }
      }
      p{
        background-color: #444;          
        white-space: pre-line; 
        line-height: 1.5; 
        max-height: 0;    
        opacity: 0;
        transition: 0.5s;
      }
      p.open{      
        padding: 1rem;          
        max-height: 300px;
        opacity: 1;
      }
    }
  }
}