.footer{
  position: relative;
  z-index: 20;
  width: 70%;
  margin: 2rem auto;
  padding-bottom: 3rem;
  > *{
    margin: 1rem 0;
  }
  p{
    font-size: 1.5rem;
  }
  .netflix{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    @include tablet{
      grid-template-columns: repeat(4.1fr);
    }
    @include mobile{
      grid-template-columns: repeat(2,1fr);
    }
    li{
      padding: 5px 0;      
    }
    a{
      cursor: pointer;
      text-decoration: underline;      
    }
  }
  .myproject{
    font-size: 1.3rem;    
    *{
      margin: 5px 0;
      text-align: right;
    }
  }
}