.movie-card{
  width: 80px; 
  aspect-ratio: 2/3;
  position: relative; 
  transition: 0.3s;
  cursor: pointer;
  &:hover{
    transform: scale(1.05);
  }
  img{
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  p{
    font-size: 100px;
    font-weight: bolder;
    position: absolute;
    bottom: 10px;
    left: -0.8rem;
    color: $bg-color;
    -webkit-text-stroke: 1px $text-color;
  }
}

.movie-list{
  position: relative;
  margin: 3rem 0;
  h2{
    font-size: 2rem;
  }  
  .btn-prev,.btn-next{
    background-color: #333;
    width: 50px;
    height: 200px;
    font-size: 2rem;
    border-radius: 5px;
    text-align: center;
    line-height: 200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 15;
    cursor: pointer;
    &:hover{
      background-color: #555;
    }
  }
  .btn-prev{
    left: -50px;
    @include tablet{left: -10px;}
  }
  .btn-next{
    right: -50px;
    @include tablet{right: -10px;}
  }
}
.movie-popup{
  z-index: 10;
  width: 50%;
  height: 50vh;
  border-radius: 1rem;
  background-color: rgba(0,0,0,0.8);
  color: $text-color;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 3rem;
  @include flex-layout(column,flex-end, flex-start);
  gap: 1rem;
  img{
    width: 90%;
    position: absolute;
    top: 10px;
    left: 5%;
    z-index: -1;
  }
  h3{
    font-size: 1.5rem;
  }
  button{
    background: none;
    outline: none;
    border: none;
    color: #fff;
    font-size: 3rem;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
}
