//색상변수
$main-color: rgb(229,9,20);
$bg-color: #111;
$text-color: #fff;

//폰트
$font-large:2rem;
$font-medium: 1.5rem;
$font-small: 1rem;

//반응형 breakpont 
$small-size: 600px;
$medium-size:960px;
$large-size:1024px;